---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Block from '../components/Block.astro';
import ProductCard from '../components/ProductCard.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main style="max-width: 1400px;">
			<Block imgUrl='./main_photo.png'>
				<Header />
				<div class="blockContent">
					<h2 class="title titleContent">Волшебной таблетки не&nbsp;было,&nbspно&nbsp;мы&nbsp;её&nbsp;сделали</h2>
					<p class="subtitleContent text">Превратили витамины, минералы и&nbsp;аминокислоты во&nbsp;вкусныеи работающие напитки, которые укрепляют здоровье и&nbsp;дают ощутимый заряд энергии. А&nbsp;еще тут мармеладные медведи для твоих бадди.</p>
				</div>
			</Block>
			<div style="margin-top: 3em; display: flex; justify-content: center;">
				<img src="./secondInfo.png" />
			</div>
			<div style="margin-top: 3em;" />
			<Block imgUrl='./main_photo_2.png'>
				<div style="padding-top: 20em;">
					<h3 class="revertedTitle">
						<span>Не обязательно начинать новую жизнь</span>
						<br /><span>— можно постепенно улучшать</span>
						<br /><span>существующую!</span>
					</h2>
				</div>
			</Block>
			<div style="margin-top: 3em;" class="productContent">
				<div class="cards">
					<ProductCard
						imgUrl='./productImage.png'
						url='./product/1'
						title='Multi Complex'
						text='Витаминно-минеральный комплекс для ежедневных потребностей организма'
						bullets={['капсулы', 'витамины']}
					/>
					<ProductCard
						imgUrl='./productImage.png'
						url='./product/2'
						title='Multi Complex 2'
						text='Витаминно-минеральный комплекс для новых потребностей организма'
						bullets={['бадик', 'в садик']}
					/>
				</div>
				<div class="buyNowContent">
					<a href="https://ozon.ru">
					<img src="./buy_now.png" />
					</a>
				</div>
			</div>
		</main>
	</body>
	<style>
		.cards {
			display: flex;
			justify-content: space-between;
		}
		.buyNowContent {
			margin-top: 1em;
		}
		.productContent {
			margin-top: 1em;
			padding: 0 1em;
		}
		.blockContent {
			display: flex;
			align-items: center;
			flex-direction: column;
			padding: 0 14em;
		}
		.titleContent {
			padding-top: 7em;
		}
		.subtitleContent {
			padding-top: 2em;
		}
		.title {
			font-weight: 400;
			font-size: 64px;
			line-height: 87%;
			letter-spacing: -0.04em;
			text-align: center;
			color: #f7f3df;
		}

		.revertedTitle {
			color: #3f1a05;
			text-align: center;
		}
		.revertedTitle span {
			padding: 0 10px;
			background: #ffbaf1;
		}

		.text {
			font-weight: 500;
			font-size: 20px;
			line-height: 105%;
			text-align: center;
			color: #f7f3df;
		}
	</style>
</html>
