---
import BaseHead from '../components/BaseHead.astro';
import MainBlock from '../components/MainBlock.astro';
import SecondBlock from '../components/SecondBlock.astro';
import InfoBlock from '../components/InfoBlock.astro';
import Footer from '../components/Footer.astro';
import ProductCarousel from '../components/ProductsCarousel.astro';
import BuyNow from '../components/BuyNow.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main class="main">
			<MainBlock>
				<h2 class="title titleContent">Волшебной таблетки небыло,но&nbsp;мы её&nbsp;сделали</h2>
				<p class="subtitleContent text">Превратили витамины, минералы и&nbsp;аминокислоты во&nbsp;вкусныеи работающие напитки, которые укрепляют здоровье и&nbsp;дают ощутимый заряд энергии. А&nbsp;еще тут мармеладные медведи для твоих бадди.</p>
			</MainBlock>
			<InfoBlock />
			<SecondBlock />
			<ProductCarousel />
			<BuyNow />
		</main>
		<Footer />
	</body>
	<style>
		@media (min-width: 720px) {
			.main {
				max-width: 1400px;
			}
		}

		.titleContent {
			padding-top: 290px;
		}

		.subtitleContent {
			margin-top: 20px;
			padding: 0 14px;
		}

		@media (min-width: 720px) {
			.titleContent {
				padding-top: 440px;
			}
			.subtitleContent {
				margin-top: 20px;
			}
		}

		.cards {
			display: flex;
			justify-content: space-between;
		}

		.title {
			font-weight: 400;
			font-size: 34px;
			line-height: 94%;
			letter-spacing: -0.04em;
			text-align: center;
			color: #f7f3df;
		}

		.text {
			font-weight: 500;
			font-size: 15px;
			line-height: 100%;
			text-align: center;
			color: #f7f3df;
		}

		@media (min-width: 720px) {
			.title {
				font-weight: 400;
				font-size: 64px;
				line-height: 87%;
				letter-spacing: -0.04em;
			}

			.text {
				font-size: 20px;
				line-height: 105%;
			}
		}
	</style>
</html>
