---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import ProductCarousel from '../components/ProductsCarousel.astro';
import BuyNow from '../components/BuyNow.astro';
import Header from '../components/HeaderInverted.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="main">
			<div class="textInfo">
				<h2 class="title titleContent">Продукты компании</h2>
                <p class="subtitleContent text">Идеально подобранные компоненты для поддержки здоровья вместо короткого отпускаи средиземноморских диет.

                    Маленькие шоты с вкусными напитками вместо горсти таблеток или порошков.
                    Поддержка и веселые истории вместо завышенной планки и сравнения с другими.</p>
			</div>
			<ProductCarousel />
			<BuyNow />
		</main>
		<Footer />
	</body>
	<style>
		.textInfo {
			padding: 0 20px;
		}

		@media (min-width: 720px) {
			.main {
				max-width: 1520px;
			}

			.textInfo {
				padding: 0 20px;
			}
		}

		.titleContent {
			margin-top: 70px;
		}

		.subtitleContent {
			margin-top: 35px;
		}

		@media (min-width: 720px) {
			.subtitleContent {
				margin-top: 20px;
			}
		}

		.cards {
			display: flex;
			justify-content: space-between;
		}

		.title {
			font-weight: 400;
			font-size: 34px;
			line-height: 94%;
			letter-spacing: -0.04em;
			text-align: left;
			color: #3F1A05;
		}

		.text {
			font-weight: 500;
			font-size: 15px;
			line-height: 100%;
			text-align: left;
			color: #3F1A05;
		}

		@media (min-width: 720px) {
			.title {
				font-weight: 400;
				font-size: 64px;
				line-height: 87%;
				letter-spacing: -0.04em;
			}

			.text {
				font-size: 20px;
				line-height: 105%;
			}
		}
	</style>
</html>
