---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import ArticleCard from './ArticleCard.astro';

const articles: CollectionEntry<'articles'>[] = await getCollection('articles');
---
<div class="articles-container">
    <div class="articles">
        {
            articles.map(article => (
                <ArticleCard {...article.data} slug={article.slug} />
            ))
        }
    </div>
</div>
<style>
    .articles-container {
        padding: 0 20px;
        margin-top: 40px;
    }

    .articles {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    @media (min-width: 720px) {
        .articles-container {
            padding: 0 60px;
            margin-top: 80px;
        }

        .articles {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 40px;
            justify-content: flex-start;
        }
    }
</style>
