---
interface Props {
	imgUrl: string;
}

const { imgUrl } = Astro.props;
---

<div class="main" style=`background-image: url(${imgUrl});`>
    <slot />
</div>
<style>
	.main {
		width: 100%;
        background-size: cover;
	}
</style>
