---
interface Props {
	imgUrl: string;
}

import {BASE_URL_PREFIX} from '../consts';

const { imgUrl } = Astro.props;
---

<div class="main" style=`background-image: url(${BASE_URL_PREFIX}/${imgUrl});`>
    <slot />
</div>
<style>
	.main {
		width: 100%;
        background-size: cover;
		height: 800px;
	}
</style>
