---
import { Picture } from 'astro:assets';

import localImage from '../images/buy_now.png';
---

<div class="main">
	<a href="https://ozon.ru">
		<Picture
			src={localImage}
			alt="Купить сейчас"
			formats={['avif', 'webp']}
			fallbackFormat='jpeg'
			loading="lazy"
			fetchpriority="high"
		/>
	</a>
</div>
<style>
	.main {
		margin-top: 80px;
	}
</style>
