---
import {BASE_URL_PREFIX} from '../consts';
---

<div class="main">
	<a href="https://ozon.ru">
	<img src={`${BASE_URL_PREFIX}/buy_now.png`} />
	</a>
</div>
<style>
	.main {
		margin-top: 80px;
	}
</style>
