---
import SocialIcon from './SocialIcon.astro';
---

<footer>
	<div class="content">
		<div class="logo_desk">
			<svg width="478" height="124" viewBox="0 0 478 124" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M416.096 0L61.9923 0C27.7866 0 0 27.7886 0 61.9968C0 96.205 27.7866 123.994 61.9923 123.994L416.008 123.994C450.213 123.994 478 96.205 478 61.9968C478 27.7886 450.213 0 416.008 0L416.096 0ZM101.738 86.4438H92.0651V60.8536C92.0651 54.2582 88.8116 50.6527 83.1839 50.6527C77.5563 50.6527 74.2149 54.4341 74.2149 60.8536V86.4438H64.5423V60.8536C64.5423 54.2582 61.2009 50.6527 55.5732 50.6527C49.9455 50.6527 46.6041 54.4341 46.6041 60.8536L46.6041 86.4438H36.9316L36.9316 43.09H46.0765V47.3111H46.2524C48.7145 43.7056 52.6714 41.683 57.9474 41.683C64.3664 41.683 68.851 44.3211 71.489 48.6301C74.4787 44.0573 79.227 41.683 84.9426 41.683C96.2859 41.683 101.738 49.1578 101.738 59.6225V86.4438ZM129.788 106.406H119.5L125.919 86.4438H120.907L108.421 43.09H118.533L128.293 78.0017H128.469L138.23 43.09H147.99L129.788 106.406ZM416.096 117.75H167.511V6.24365L416.096 6.24365C446.872 6.24365 471.845 31.3062 471.845 61.9968C471.845 92.6875 446.872 117.75 416.096 117.75Z" fill="#684835"/>
				<path d="M195.563 80.9917H195.387V86.444H186.242V24.3592H195.915V48.1027C199.608 43.7057 204.884 41.6831 210.687 41.6831C223.262 41.6831 233.286 51.2685 233.286 64.7231C233.286 78.1777 223.086 87.851 210.424 87.851C204.356 87.851 199.08 85.5646 195.563 80.9917ZM223.262 64.811C223.262 56.5448 217.458 50.7408 209.544 50.7408C201.63 50.7408 195.915 56.5448 195.915 64.811C195.915 73.0773 201.718 78.7933 209.544 78.7933C217.37 78.7933 223.262 72.9893 223.262 64.811Z" fill="#684835"/>
				<path d="M242.079 69.9111V43.0898H251.751V68.7679C251.751 75.2754 255.093 78.9688 260.544 78.9688C265.996 78.9688 269.338 75.1875 269.338 68.7679V43.0898H279.01V86.4436H269.953V82.2226H269.777C267.227 85.828 263.358 87.8506 258.17 87.8506C247.53 87.8506 242.079 80.3758 242.079 69.9111Z" fill="#684835"/>
				<path d="M286.308 64.899C286.308 51.4443 296.508 41.6831 309.083 41.6831C314.974 41.6831 320.074 43.8816 323.592 48.1027V24.3592H333.264V86.444H324.207V80.9917H324.031C320.338 85.6525 314.886 87.851 308.907 87.851C296.245 87.851 286.308 78.2656 286.308 64.899ZM323.592 64.811C323.592 56.5448 317.876 50.7408 309.962 50.7408C302.048 50.7408 296.333 56.5448 296.333 64.811C296.333 73.0773 302.048 78.7933 309.962 78.7933C317.876 78.7933 323.592 72.9893 323.592 64.811Z" fill="#684835"/>
				<path d="M341.265 64.899C341.265 51.4443 351.465 41.6831 364.04 41.6831C369.931 41.6831 375.031 43.8816 378.548 48.1027V24.3592H388.221V86.444H379.164V80.9917H378.988C375.295 85.6525 369.843 87.851 363.864 87.851C351.201 87.851 341.265 78.2656 341.265 64.899ZM378.548 64.811C378.548 56.5448 372.833 50.7408 364.919 50.7408C357.005 50.7408 351.289 56.5448 351.289 64.811C351.289 73.0773 357.005 78.7933 364.919 78.7933C372.833 78.7933 378.548 72.9893 378.548 64.811Z" fill="#684835"/>
				<path d="M414.602 86.4436H409.589L397.103 43.0898H407.215L416.976 78.0015H417.152L426.912 43.0898H436.673L418.471 106.406H408.183L414.602 86.4436Z" fill="#684835"/>
			</svg>
		</div>
		<p class="mainText">
			Мы — команда биохакинг-энтузиастов, которые хотят быть здоровыми и полными сил, не прикладывая для этого чрезмерных усилий.
		</p>
		<p>
			Info@mybuddy.ru
		</p>
		<div class="social-icons">
			<SocialIcon platform="telegram" url="https://t.me/mybuddy_vitamins" />
			<SocialIcon platform="vk" url="https://vk.com/mybuddy_vitamins" />
		</div>
		<div class="logo_mobile">
			<svg width="334" height="93" viewBox="0 0 334 93" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g filter="url(#filter0_dd_803_754)">
			<path d="M287.781 0L46.2792 0C22.9507 0 4 18.9521 4 42.2824C4 65.6126 22.9507 84.5647 46.2792 84.5647L287.721 84.5647C311.049 84.5647 330 65.6126 330 42.2824C330 18.9521 311.049 0 287.721 0L287.781 0ZM73.3859 58.9554H66.7892V41.5027C66.7892 37.0046 64.5703 34.5456 60.7321 34.5456C56.894 34.5456 54.6152 37.1245 54.6152 41.5027V58.9554H48.0184V41.5027C48.0184 37.0046 45.7395 34.5456 41.9014 34.5456C38.0633 34.5456 35.7844 37.1245 35.7844 41.5027V58.9554H29.1876L29.1876 29.3877H35.4246V32.2665H35.5445C37.2237 29.8076 39.9224 28.4281 43.5206 28.4281C47.8985 28.4281 50.9569 30.2274 52.7561 33.1662C54.7951 30.0475 58.0335 28.4281 61.9316 28.4281C69.6678 28.4281 73.3859 33.526 73.3859 40.663V58.9554ZM92.5166 72.5697H85.5L89.8778 58.9554H86.4595L77.9437 29.3877H84.8403L91.4971 53.1978H91.617L98.2737 29.3877H104.93L92.5166 72.5697ZM287.781 80.3065L118.244 80.3065V4.25822L287.781 4.25822C308.77 4.25822 325.802 21.3511 325.802 42.2824C325.802 63.2136 308.77 80.3065 287.781 80.3065Z" fill="#684835"/>
			<path d="M137.376 55.237H137.256V58.9554H131.019V16.6131H137.616V32.8063C140.135 29.8076 143.733 28.4282 147.691 28.4282C156.267 28.4282 163.103 34.9654 163.103 44.1416C163.103 53.3178 156.147 59.915 147.511 59.915C143.373 59.915 139.775 58.3557 137.376 55.237ZM156.267 44.2016C156.267 38.5639 152.309 34.6056 146.911 34.6056C141.514 34.6056 137.616 38.5639 137.616 44.2016C137.616 49.8392 141.574 53.7376 146.911 53.7376C152.249 53.7376 156.267 49.7793 156.267 44.2016Z" fill="#684835"/>
			<path d="M169.1 47.6798V29.3874H175.696V46.9001C175.696 51.3382 177.975 53.8572 181.693 53.8572C185.412 53.8572 187.69 51.2783 187.69 46.9001V29.3874H194.287V58.955H188.11V56.0762H187.99C186.251 58.5352 183.612 59.9146 180.074 59.9146C172.818 59.9146 169.1 54.8168 169.1 47.6798Z" fill="#684835"/>
			<path d="M199.265 44.2616C199.265 35.0854 206.222 28.4282 214.798 28.4282C218.816 28.4282 222.294 29.9275 224.693 32.8063V16.6131H231.289V58.9554H225.112V55.237H224.993C222.474 58.4156 218.756 59.915 214.678 59.915C206.042 59.915 199.265 53.3778 199.265 44.2616ZM224.693 44.2016C224.693 38.5639 220.795 34.6056 215.397 34.6056C210 34.6056 206.102 38.5639 206.102 44.2016C206.102 49.8392 210 53.7376 215.397 53.7376C220.795 53.7376 224.693 49.7793 224.693 44.2016Z" fill="#684835"/>
			<path d="M236.746 44.2616C236.746 35.0854 243.703 28.4282 252.278 28.4282C256.296 28.4282 259.775 29.9275 262.174 32.8063V16.6131H268.77V58.9554H262.593V55.237H262.473C259.955 58.4156 256.237 59.915 252.159 59.915C243.523 59.915 236.746 53.3778 236.746 44.2616ZM262.174 44.2016C262.174 38.5639 258.276 34.6056 252.878 34.6056C247.481 34.6056 243.583 38.5639 243.583 44.2016C243.583 49.8392 247.481 53.7376 252.878 53.7376C258.276 53.7376 262.174 49.7793 262.174 44.2016Z" fill="#684835"/>
			<path d="M286.762 58.955H283.343L274.828 29.3874H281.724L288.381 53.1974H288.501L295.158 29.3874H301.814L289.4 72.5694H282.384L286.762 58.955Z" fill="#684835"/>
			</g>
			<defs>
			<filter id="filter0_dd_803_754" x="0" y="0" width="334" height="92.5647" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix"/>
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
			<feOffset dy="4"/>
			<feGaussianBlur stdDeviation="2"/>
			<feComposite in2="hardAlpha" operator="out"/>
			<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
			<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_803_754"/>
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
			<feOffset dy="4"/>
			<feGaussianBlur stdDeviation="2"/>
			<feComposite in2="hardAlpha" operator="out"/>
			<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
			<feBlend mode="normal" in2="effect1_dropShadow_803_754" result="effect2_dropShadow_803_754"/>
			<feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_803_754" result="shape"/>
			</filter>
			</defs>
			</svg>
		</div>
	</div>
</footer>
<style>
		.logo_desk {
			display: none;
		}

		.logo_mobile {
			display: flex;
			justify-content: center;
		}

		.content {
			padding: 24px;
			display: flex;
			flex-direction: column;
		}

		.social-icons {
			display: flex;
			justify-content: center;
			gap: 12px;
			margin: 16px 0;
		}


		footer {
			margin-top: 80px;
			background: #3F1A05 no-repeat;
		}

		@media (min-width: 720px) {
			.logo_desk {
				display: flex;
				justify-content: center;
			}

			.logo_mobile {
				display: none;
			}

			p {
				font-weight: 400;
				font-size: 14px;
				color: #f7f3df;
			}

			.content {
				margin: 0 36px;
				padding-top: 260px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-direction: row;
			}

			.mainText {
				max-width: 360px;
			}
		}
</style>
