---
const today = new Date();
---

<footer>
	<div class="content">
		<svg class="logo" width="479" height="113" viewBox="0 0 479 113" fill="#684835" xmlns="http://www.w3.org/2000/svg">
			<path d="M437.779 111.874L445.602 85.3252H436.357L420.831 26.5374L438.491 26.5374L449.75 70.8653H449.987L461.129 26.5374L478.196 26.5374L455.558 111.874H437.779Z" fill="#684835"/>
			<path d="M382.146 87.2335C365.197 87.2335 352.159 74.3144 352.159 56.0617C352.159 37.8091 365.434 24.6529 382.501 24.6529C389.85 24.6529 396.132 27.2605 400.517 32.1199V0L417.703 0V85.3371H401.702V78.5813H401.465C396.843 84.3889 390.087 87.2335 382.146 87.2335ZM369.938 55.9432C369.938 65.0695 376.338 71.5884 385.228 71.5884C393.998 71.5884 400.517 65.0695 400.517 55.9432C400.517 46.8169 393.998 40.2981 385.228 40.2981C376.338 40.2981 369.938 46.8169 369.938 55.9432Z" fill="#684835"/>
			<path d="M309.646 87.2335C292.698 87.2335 279.66 74.3144 279.66 56.0617C279.66 37.8091 292.935 24.6529 310.002 24.6529C317.35 24.6529 323.632 27.2605 328.018 32.1199V0L345.204 0V85.3371H329.203V78.5813H328.966C324.343 84.3889 317.588 87.2335 309.646 87.2335ZM297.438 55.9432C297.438 65.0695 303.839 71.5884 312.728 71.5884C321.499 71.5884 328.018 65.0695 328.018 55.9432C328.018 46.8169 321.499 40.2981 312.728 40.2981C303.839 40.2981 297.438 46.8169 297.438 55.9432Z" fill="#684835"/>
			<path d="M240.727 87.2216C226.149 87.2216 219.275 77.147 219.275 62.6871V26.5374L236.461 26.5374V60.0796C236.461 67.6651 240.016 71.4579 245.943 71.4579C251.987 71.4579 255.543 67.3096 255.543 60.0796V26.5374H272.729V85.3252H256.728V79.636H256.491C253.172 84.614 247.839 87.2216 240.727 87.2216Z" fill="#684835"/>
			<path d="M150.533 85.325V4.72882L185.735 4.72882C201.617 4.72882 211.099 13.0255 211.099 25.826C211.099 34.3598 206.477 40.2859 198.18 43.4861V43.7231C208.255 46.3307 213.47 52.1383 213.47 62.0943C213.47 75.2504 203.277 85.325 186.328 85.325H150.533ZM168.786 70.8651H184.076C190.594 70.8651 194.624 66.4797 194.624 60.9091C194.624 55.2199 190.594 50.8345 184.076 50.8345L168.786 50.8345V70.8651ZM168.786 37.2043L182.772 37.2043C188.698 37.2043 192.254 33.293 192.254 28.1965C192.254 23.1 188.698 19.1887 182.772 19.1887L168.786 19.1887V37.2043Z" fill="#684835"/>
			<path d="M87.7607 112.813L102.695 85.316H99.4946L93.4499 27.4764L101.035 27.4764L106.25 78.5601H106.369L133.155 27.4764H141.096L96.1759 112.813H87.7607Z" fill="#684835"/>
			<path d="M0 85.325L17.0674 4.72882L29.5124 4.72882L38.2832 74.8949H38.5202L77.0404 4.72882L90.1966 4.72882L73.1292 85.325H65.5436L81.3073 11.8402H81.0702L40.8907 85.325H32.1199L22.9936 11.8402H22.7566L7.467 85.325H0Z" fill="#684835"/>
		</svg>
		<p class="mainText">
			Мы — команда биохакинг-энтузиастов, которые хотят быть здоровыми и полными сил, не прикладывая для этого чрезмерных усилий.
		</p>
		<p>
			Info@mybuddy.com
		</p>
		<div>
			<svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="25.5" cy="25.5" r="25.5" fill="#684835" />
			</svg>
			<svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="25.5" cy="25.5" r="25.5" fill="#684835" />
			</svg>
			<svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="25.5" cy="25.5" r="25.5" fill="#684835" />
			</svg>
		</div>
	</div>
</footer>
<style>
	p {
		font-weight: 400;
		font-size: 14px;
		color: #f7f3df;
	}

	footer {
		margin-top: 260px;
		background: #3F1A05 no-repeat;
	}

	.content {
		padding-top: 260px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.mainText {
		max-width: 360px;
	}
</style>
