---
const today = new Date();
---

<footer>
	<div class="content">
		<svg class="logo_desk" width="479" height="113" viewBox="0 0 479 113" fill="#684835" xmlns="http://www.w3.org/2000/svg">
			<path d="M437.779 111.874L445.602 85.3252H436.357L420.831 26.5374L438.491 26.5374L449.75 70.8653H449.987L461.129 26.5374L478.196 26.5374L455.558 111.874H437.779Z" fill="#684835"/>
			<path d="M382.146 87.2335C365.197 87.2335 352.159 74.3144 352.159 56.0617C352.159 37.8091 365.434 24.6529 382.501 24.6529C389.85 24.6529 396.132 27.2605 400.517 32.1199V0L417.703 0V85.3371H401.702V78.5813H401.465C396.843 84.3889 390.087 87.2335 382.146 87.2335ZM369.938 55.9432C369.938 65.0695 376.338 71.5884 385.228 71.5884C393.998 71.5884 400.517 65.0695 400.517 55.9432C400.517 46.8169 393.998 40.2981 385.228 40.2981C376.338 40.2981 369.938 46.8169 369.938 55.9432Z" fill="#684835"/>
			<path d="M309.646 87.2335C292.698 87.2335 279.66 74.3144 279.66 56.0617C279.66 37.8091 292.935 24.6529 310.002 24.6529C317.35 24.6529 323.632 27.2605 328.018 32.1199V0L345.204 0V85.3371H329.203V78.5813H328.966C324.343 84.3889 317.588 87.2335 309.646 87.2335ZM297.438 55.9432C297.438 65.0695 303.839 71.5884 312.728 71.5884C321.499 71.5884 328.018 65.0695 328.018 55.9432C328.018 46.8169 321.499 40.2981 312.728 40.2981C303.839 40.2981 297.438 46.8169 297.438 55.9432Z" fill="#684835"/>
			<path d="M240.727 87.2216C226.149 87.2216 219.275 77.147 219.275 62.6871V26.5374L236.461 26.5374V60.0796C236.461 67.6651 240.016 71.4579 245.943 71.4579C251.987 71.4579 255.543 67.3096 255.543 60.0796V26.5374H272.729V85.3252H256.728V79.636H256.491C253.172 84.614 247.839 87.2216 240.727 87.2216Z" fill="#684835"/>
			<path d="M150.533 85.325V4.72882L185.735 4.72882C201.617 4.72882 211.099 13.0255 211.099 25.826C211.099 34.3598 206.477 40.2859 198.18 43.4861V43.7231C208.255 46.3307 213.47 52.1383 213.47 62.0943C213.47 75.2504 203.277 85.325 186.328 85.325H150.533ZM168.786 70.8651H184.076C190.594 70.8651 194.624 66.4797 194.624 60.9091C194.624 55.2199 190.594 50.8345 184.076 50.8345L168.786 50.8345V70.8651ZM168.786 37.2043L182.772 37.2043C188.698 37.2043 192.254 33.293 192.254 28.1965C192.254 23.1 188.698 19.1887 182.772 19.1887L168.786 19.1887V37.2043Z" fill="#684835"/>
			<path d="M87.7607 112.813L102.695 85.316H99.4946L93.4499 27.4764L101.035 27.4764L106.25 78.5601H106.369L133.155 27.4764H141.096L96.1759 112.813H87.7607Z" fill="#684835"/>
			<path d="M0 85.325L17.0674 4.72882L29.5124 4.72882L38.2832 74.8949H38.5202L77.0404 4.72882L90.1966 4.72882L73.1292 85.325H65.5436L81.3073 11.8402H81.0702L40.8907 85.325H32.1199L22.9936 11.8402H22.7566L7.467 85.325H0Z" fill="#684835"/>
		</svg>
		<p class="mainText">
			Мы — команда биохакинг-энтузиастов, которые хотят быть здоровыми и полными сил, не прикладывая для этого чрезмерных усилий.
		</p>
		<p>
			Info@mybuddy.com
		</p>
		<div>
			<svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="25.5" cy="25.5" r="25.5" fill="#684835" />
			</svg>
			<svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="25.5" cy="25.5" r="25.5" fill="#684835" />
			</svg>
			<svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="25.5" cy="25.5" r="25.5" fill="#684835" />
			</svg>
		</div>
		<svg class="logo_mobile" width="326" height="78" viewBox="0 0 326 78" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M298.447 77.1734L303.78 59.0739H297.478L286.893 18.9966L298.932 18.9966L306.608 49.2162H306.77L314.365 18.9966L326 18.9966L310.567 77.1734H298.447Z" fill="#684835"/>
			<path d="M260.52 60.3749C248.965 60.3749 240.077 51.5676 240.077 39.1242C240.077 26.6808 249.127 17.7119 260.762 17.7119C265.772 17.7119 270.054 19.4895 273.044 22.8024V0.905273L284.76 0.905273V59.0821H273.852V54.4764H273.69C270.539 58.4356 265.933 60.3749 260.52 60.3749ZM252.197 39.0434C252.197 45.2651 256.561 49.7091 262.621 49.7091C268.6 49.7091 273.044 45.2651 273.044 39.0434C273.044 32.8217 268.6 28.3776 262.621 28.3776C256.561 28.3776 252.197 32.8217 252.197 39.0434Z" fill="#684835"/>
			<path d="M211.095 60.3749C199.54 60.3749 190.652 51.5676 190.652 39.1242C190.652 26.6808 199.702 17.7119 211.337 17.7119C216.347 17.7119 220.63 19.4895 223.619 22.8024V0.905273L235.335 0.905273V59.0821H224.427V54.4764H224.266C221.114 58.4356 216.509 60.3749 211.095 60.3749ZM202.773 39.0434C202.773 45.2651 207.136 49.7091 213.196 49.7091C219.175 49.7091 223.619 45.2651 223.619 39.0434C223.619 32.8217 219.175 28.3776 213.196 28.3776C207.136 28.3776 202.773 32.8217 202.773 39.0434Z" fill="#684835"/>
			<path d="M164.111 60.3667C154.172 60.3667 149.486 53.4986 149.486 43.6409V18.9966L161.202 18.9966V41.8633C161.202 47.0346 163.626 49.6202 167.666 49.6202C171.787 49.6202 174.211 46.7922 174.211 41.8633V18.9966L185.927 18.9966V59.0739H175.019V55.1955H174.857C172.595 58.5891 168.959 60.3667 164.111 60.3667Z" fill="#684835"/>
			<path d="M102.623 59.0736L102.623 4.12891L126.621 4.12891C137.448 4.12891 143.912 9.78498 143.912 18.5115C143.912 24.3292 140.761 28.3692 135.105 30.5509V30.7125C141.973 32.4901 145.528 36.4493 145.528 43.2366C145.528 52.2055 138.58 59.0736 127.025 59.0736L102.623 59.0736ZM115.066 49.2159L125.49 49.2159C129.934 49.2159 132.681 46.2263 132.681 42.4286C132.681 38.5502 129.934 35.5605 125.49 35.5605H115.066V49.2159ZM115.066 26.2684H124.601C128.641 26.2684 131.065 23.602 131.065 20.1275C131.065 16.6531 128.641 13.9866 124.601 13.9866L115.066 13.9866V26.2684Z" fill="#684835"/>
			<path d="M59.8291 77.8135L70.01 59.0676H67.8284L63.7076 19.6367H68.8788L72.4341 54.462H72.5149L90.7759 19.6367L96.1896 19.6367L65.566 77.8135H59.8291Z" fill="#684835"/>
			<path d="M0 59.0736L11.6354 4.12891L20.1195 4.12891L26.0987 51.9631H26.2603L52.5207 4.12891L61.4896 4.12891L49.8543 59.0736H44.683L55.4295 8.97697H55.2679L27.8764 59.0736L21.8971 59.0736L15.6754 8.97697H15.5138L5.09047 59.0736H0Z" fill="#684835"/>
		</svg>
	</div>
</footer>
<style>
		.logo_desk {
			display: none;
		}

		.content {
			padding-top: 24px;
			padding-left: 24px;
			display: flex;
			flex-direction: column;
			padding-bottom: 24px;
		}


		footer {
			margin-top: 80px;
			background: #3F1A05 no-repeat;
		}

		@media (min-width: 720px) {
			.logo_desk {
				display: block;
			}

			.logo_mobile {
				display: none;
			}

			p {
				font-weight: 400;
				font-size: 14px;
				color: #f7f3df;
			}

			.content {
				margin: 0 36px;
				padding-top: 260px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-direction: row;
			}

			.mainText {
				max-width: 360px;
			}
		}
</style>
