---
import {BASE_URL_PREFIX} from '../consts';
---

<header>
	<nav>
		<div class="menu_wrapper">
			<div class="menu">
			<a href={Astro.site}>
				<svg width="188" height="49" viewBox="0 0 188 49" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M163.264 0L24.324 0C10.9027 0 0 10.9035 0 24.3258C0 37.7481 10.9027 48.6516 24.324 48.6516L163.23 48.6516C176.651 48.6516 187.554 37.7481 187.554 24.3258C187.554 10.9035 176.651 0 163.23 0L163.264 0ZM39.919 33.9181H36.1238V23.8772C36.1238 21.2894 34.8472 19.8747 32.639 19.8747C30.4309 19.8747 29.1198 21.3584 29.1198 23.8772V33.9181H25.3246V23.8772C25.3246 21.2894 24.0135 19.8747 21.8054 19.8747C19.5972 19.8747 18.2861 21.3584 18.2861 23.8772V33.9181H14.4909L14.4909 16.9073H18.0791V18.5635H18.1481C19.1142 17.1488 20.6668 16.3552 22.7369 16.3552C25.2556 16.3552 27.0152 17.3904 28.0502 19.0811C29.2233 17.2869 31.0864 16.3552 33.3291 16.3552C37.7799 16.3552 39.919 19.2881 39.919 23.3942V33.9181ZM50.9252 41.7507H46.8884L49.4071 33.9181H47.4405L42.5412 16.9073H46.5089L50.3386 30.6057H50.4076L54.2374 16.9073H58.0671L50.9252 41.7507ZM163.264 46.2018L65.7266 46.2018V2.44983L163.264 2.44983C175.34 2.44983 185.139 12.2837 185.139 24.3258C185.139 36.3679 175.34 46.2018 163.264 46.2018Z" fill="#3F1A05"/>
					<path d="M76.7334 31.7789H76.6644V33.9182H73.0762V9.55786H76.8714V18.8741C78.3205 17.1489 80.3906 16.3553 82.6678 16.3553C87.6016 16.3553 91.5348 20.1163 91.5348 25.3955C91.5348 30.6747 87.5326 34.4702 82.5643 34.4702C80.1836 34.4702 78.1135 33.5731 76.7334 31.7789ZM87.6016 25.43C87.6016 22.1866 85.3244 19.9093 82.2192 19.9093C79.114 19.9093 76.8714 22.1866 76.8714 25.43C76.8714 28.6735 79.1485 30.9163 82.2192 30.9163C85.2899 30.9163 87.6016 28.639 87.6016 25.43Z" fill="#3F1A05"/>
					<path d="M94.9849 27.4312V16.9072H98.7801V26.9826C98.7801 29.5359 100.091 30.9851 102.23 30.9851C104.369 30.9851 105.681 29.5014 105.681 26.9826V16.9072H109.476V33.918H105.922V32.2618H105.853C104.852 33.6765 103.334 34.4701 101.299 34.4701C97.124 34.4701 94.9849 31.5372 94.9849 27.4312Z" fill="#3F1A05"/>
					<path d="M112.339 25.4645C112.339 20.1853 116.341 16.3553 121.275 16.3553C123.587 16.3553 125.588 17.2179 126.968 18.8741V9.55786L130.763 9.55786V33.9182H127.21V31.7789H127.141C125.691 33.6076 123.552 34.4702 121.206 34.4702C116.238 34.4702 112.339 30.7092 112.339 25.4645ZM126.968 25.43C126.968 22.1866 124.725 19.9093 121.62 19.9093C118.515 19.9093 116.272 22.1866 116.272 25.43C116.272 28.6735 118.515 30.9163 121.62 30.9163C124.725 30.9163 126.968 28.639 126.968 25.43Z" fill="#3F1A05"/>
					<path d="M133.903 25.4645C133.903 20.1853 137.905 16.3553 142.839 16.3553C145.151 16.3553 147.152 17.2179 148.532 18.8741V9.55786L152.327 9.55786V33.9182H148.773V31.7789H148.704C147.255 33.6076 145.116 34.4702 142.77 34.4702C137.802 34.4702 133.903 30.7092 133.903 25.4645ZM148.532 25.43C148.532 22.1866 146.289 19.9093 143.184 19.9093C140.079 19.9093 137.836 22.1866 137.836 25.43C137.836 28.6735 140.079 30.9163 143.184 30.9163C146.289 30.9163 148.532 28.639 148.532 25.43Z" fill="#3F1A05"/>
					<path d="M162.678 33.918H160.711L155.812 16.9072H159.78L163.61 30.6056H163.678L167.508 16.9072H171.338L164.196 41.7506H160.159L162.678 33.918Z" fill="#3F1A05"/>
					</svg>
			</a>
			<a href={`${BASE_URL_PREFIX}/products`}>
				<p class="invertedLink" >Продукты</p>
			</a>
			<a href={`${BASE_URL_PREFIX}/articles`}>
				<p class="invertedLink" >База знаний</p>
			</a>
		</div>
		</div>
		<div class="line" />
	</nav>
</header>
<style>
	header {
		margin: 0;
		background: transparent;
	}

	.menu_wrapper {
		max-width: 500px;
	}

	.logo {
		display: block;
	}

	.menu {
		padding: 4px 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.invertedLink {
		font-size: 16px;
		padding: 2px;
		background: #3f1a05;
	}

	.line {
		height: 1px;
		background: #3F1A05;
	}

	@media (min-width: 720px) {
		.menu {
			padding: 27px 20px;
			display: flex;
			align-items: center;
		}

		.invertedLink {
			font-size: 18px;
			padding: 0px 10px;
			background: #3f1a05;
		}
	}
</style>
