---
import {BASE_URL_PREFIX} from '../consts';
---

<header>
	<nav>
		<div class="menu">
			<a href={Astro.site}>
				<svg class="logo" width="173" height="42" viewBox="0 0 173 42" fill="#3F1A05" xmlns="http://www.w3.org/2000/svg">
					<path d="M158.378 41.0675L161.208 31.4626H157.863L152.246 10.1946L158.635 10.1946L162.709 26.2313H162.794L166.825 10.1946L173 10.1946L164.81 41.0675H158.378Z" />
					<path d="M138.25 32.1527C132.119 32.1527 127.402 27.4789 127.402 20.8755C127.402 14.2722 132.204 9.51258 138.379 9.51258C141.037 9.51258 143.31 10.4559 144.896 12.214V0.59375L151.114 0.59375V31.4666H145.325V29.0225H145.24C143.567 31.1236 141.123 32.1527 138.25 32.1527ZM133.834 20.8326C133.834 24.1343 136.149 26.4927 139.365 26.4927C142.538 26.4927 144.896 24.1343 144.896 20.8326C144.896 17.531 142.538 15.1726 139.365 15.1726C136.149 15.1726 133.834 17.531 133.834 20.8326Z" />
					<path d="M112.022 32.1527C105.891 32.1527 101.174 27.4789 101.174 20.8755C101.174 14.2722 105.976 9.51258 112.151 9.51258C114.809 9.51258 117.082 10.4559 118.668 12.214V0.59375L124.886 0.59375V31.4666H119.097V29.0225H119.011C117.339 31.1236 114.895 32.1527 112.022 32.1527ZM107.606 20.8326C107.606 24.1343 109.921 26.4927 113.137 26.4927C116.31 26.4927 118.668 24.1343 118.668 20.8326C118.668 17.531 116.31 15.1726 113.137 15.1726C109.921 15.1726 107.606 17.531 107.606 20.8326Z" />
					<path d="M87.0882 32.1486C81.8141 32.1486 79.3271 28.5039 79.3271 23.2727V10.1946L85.5446 10.1946V22.3293C85.5446 25.0736 86.831 26.4457 88.9749 26.4457C91.1618 26.4457 92.4481 24.945 92.4481 22.3293V10.1946L98.6656 10.1946V31.4626H92.8769V29.4044H92.7912C91.5905 31.2053 89.661 32.1486 87.0882 32.1486Z" />
					<path d="M54.4585 31.4629L54.4585 2.30518L67.1936 2.30518C72.9393 2.30518 76.3697 5.30671 76.3697 9.93764C76.3697 13.0249 74.6974 15.1689 71.6959 16.3266V16.4124C75.3406 17.3557 77.2272 19.4568 77.2272 23.0586C77.2272 27.8182 73.5396 31.4629 67.408 31.4629L54.4585 31.4629ZM61.0619 26.2317L66.5933 26.2317C68.9516 26.2317 70.4095 24.6451 70.4095 22.6298C70.4095 20.5716 68.9516 18.9851 66.5933 18.9851L61.0619 18.9851V26.2317ZM61.0619 14.054H66.1216C68.2655 14.054 69.5519 12.639 69.5519 10.7952C69.5519 8.95142 68.2655 7.53641 66.1216 7.53641L61.0619 7.53641V14.054Z" />
					<path d="M31.75 41.4066L37.1528 31.4586H35.995L33.8082 10.5337H36.5524L38.4391 29.0145H38.482L48.1727 10.5337L51.0455 10.5337L34.7944 41.4066H31.75Z" />
					<path d="M0 31.4629L6.17458 2.30518L10.6769 2.30518L13.8499 27.6895H13.9357L27.8714 2.30518L32.6309 2.30518L26.4563 31.4629H23.7121L29.415 4.87792H29.3292L14.7933 31.4629H11.6202L8.31853 4.87792H8.23277L2.70138 31.4629H0Z" />
				</svg>
			</a>
			<a href={`${BASE_URL_PREFIX}/products`}>
				<p class="invertedLink" >Продукты</p>
			</a>
		</div>
		<div class="line" />
	</nav>
</header>
<style>
	header {
		margin: 0;
		background: transparent;
	}

	.logo {
		display: block;
	}

	.menu {
		padding: 4px 16px;
		display: flex;
		align-items: center;
	}

	.invertedLink {
		font-size: 16px;
		padding: 2px;
		margin-left: 27px;
		background: #3f1a05;
	}

	.line {
		height: 1px;
		background: #3F1A05;
	}

	@media (min-width: 720px) {
		.menu {
			padding: 27px 20px;
			display: flex;
			align-items: center;
		}

		.invertedLink {
			font-size: 18px;
			padding: 0px 10px;
			margin-left: 27px;
			background: #3f1a05;
		}
	}
</style>
