---
import { Picture } from 'astro:assets';

import desktopImage from '../images/team_info.png';
import mobileImage from '../images/team_info_mobile.png';

---

<div class="root">
	<Picture
		class="desktop"
		src={desktopImage}
		alt="О команде"
		formats={['avif', 'webp']}
		fallbackFormat='jpeg'
		loading="eager"
		fetchpriority="high"
	/>
	<Picture
		class="mobile"
		src={mobileImage}
		alt="О команде"
		formats={['avif', 'webp']}
		fallbackFormat='jpeg'
		loading="eager"
		fetchpriority="high"
	/>
</div>

<style>
	.desktop {
		display: none;
	}

	.root {
		margin-top: 30px;
		padding: 0 15px;
		background-size: cover;
	}

	@media (min-width: 720px) {
		.desktop {
			display: block;
		}

		.mobile {
			display: none;
		}

		.root {
			margin-top: 68px;
			padding: 0;
			display: flex;
			background-size: cover;
			align-items: center;
			justify-content: center;
		}
	}
</style>
