---
import { Image } from 'astro:assets';

import desktopImage from '../images/main_with_text.png';
import mobileImage from '../images/main_with_text_mobile.png';

---

<div class="root">
	<Image
		class="desktop"
		src={desktopImage}
		alt="Волшебной таблетки не было но мы ее сделали"
		fetchpriority="high"
		decoding="sync"
	/>
	<Image
		class="mobile"
		src={mobileImage}
		alt="Волшебной таблетки не было но мы ее сделали"
		fetchpriority="high"
		decoding="sync"
	/>
</div>

<style>
	.desktop {
		display: none;
	}

	.root {
		background-size: cover;
	}

	@media (min-width: 720px) {
		.desktop {
			display: block;
		}

		.mobile {
			display: none;
		}

		.root {
			padding: 0;
			display: flex;
			background-size: cover;
			align-items: center;
			justify-content: center;
		}
	}
</style>
