---
import { Image } from 'astro:assets';

import desktopImage from '../images/new_life.png';
import mobileImage from '../images/new_life_mobile.png';

---

<div class="root">
	<Image
		class="desktop"
		src={desktopImage}
		alt="Волшебной таблетки не было но мы ее сделали"
		loading="lazy"
		fetchpriority="low"
		decoding="sync"
	/>
	<Image
		class="mobile"
		src={mobileImage}
		alt="Волшебной таблетки не было но мы ее сделали"
		loading="lazy"
		fetchpriority="low"
		decoding="sync"
	/>
</div>

<style>
	.desktop {
		display: none;
	}

	.root {
		margin-top: 40px;
	}

	@media (min-width: 720px) {
		.desktop {
			display: block;
		}

		.mobile {
			display: none;
		}

		.root {
			margin-top: 124px;
		}
	}
</style>
